<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="https://belhalk.github.io/">Belhal Karimi</a></li>
          
            
            <li class="masthead__menu-item"><a href="http://belhalk.github.io/research/index.html">Research</a></li>
          
            
            <li class="masthead__menu-item"><a href="http://belhalk.github.io/blog/index.html">Projects</a></li>
          
          
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
