
<!-- Blog Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="https://belhalk.github.io/">Belhal Karimi</a></li>
          
            
            <li class="masthead__menu-item"><a href="http://belhalk.github.io/research/index.html">Research</a></li>
          
            
            <li class="masthead__menu-item"><a href="http://belhalk.github.io/blog/index.html">Projects</a></li>

            <li class="masthead__menu-item"><a href="downloads/CV.pdf">Resume</a></li>
          
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

    <section id="{{ page.title }}" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

        {{ page.content | markdownify }}

        {% for post in paginator.posts %}
          <h4 align="left"><strong>{{ post.date | date_to_string }}</strong> <small>. {{ post.category }} .</small> <a href="{{site.baseurl}}{{post.url}}"> <strong>{{ post.title }} </strong> </a> <!-- <small><a href="{{site.baseurl}}{{post.url}}#disqus_thread">Comments</a></small> --></h4>
        {% endfor %}

        {% include pagination.html %}

        </div>
      </div>
    </section>

    <section id="{{ page.title }}" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          {% include social-buttons.html %}
        </div>
      </div>
    </section>

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Blog Layout End -->
