
<!-- Blog Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

{% include navigation.html %}

    <section id="{{ page.title }}" class="container content-section text-center" style="margin-right:30px;margin-left:30px">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

        {{ page.content | markdownify }}

        {% for post in paginator.posts %}
          <strong>{{ post.date | date_to_string }}</strong> <small>. {{ post.category }} .</small> <a href="{{site.baseurl}}{{post.url}}" style="color: rgb(0,255,0);text-decoration: none"> {{ post.title }}</a> <!-- <small><a href="{{site.baseurl}}{{post.url}}#disqus_thread">Comments</a></small> -->
        {% endfor %}

        {% include pagination.html %}

        </div>
      </div>
    </section>

    

    {% include js.html %}

  </body>
</html>

<!-- Blog Layout End -->
