
<!-- Post Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <!-- <button><div class="navicon"></div></button> -->
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="https://belhalk.github.io/">Belhal Karimi</a></li>
          
            
            <li class="masthead__menu-item"><a href="http://belhalk.github.io/research/index.html">Research</a></li>
          
            
            <li class="masthead__menu-item"><a href="http://belhalk.github.io/blog/index.html">Projects</a></li>

            <li class="masthead__menu-item"><a href="downloads/CV.pdf">Resume</a></li>
          
        </ul>
      </nav>
    </div>
  </div>
</div>
<br>
    <section id="{{ page.title }}" class="container content-section text-center">
      <div class="row" style="text-align:justify">
        <div class="col-lg-8 col-lg-offset-2">

          <h1 align="center"><strong>{{ page.title }}</strong></h1>
          <h4 align="center" ><strong>{{ page.date | date_to_string }}</strong>
            <!-- <small> . {{ page.category }} .  --><!-- <a href="{{site.baseurl}}{{page.url }}#disqus_thread">Comments</a> -->
            {% for tag in page.tags %}
              <a href="{{site.baseurl}}/tags/{{tag}}.html" style="color: rgb(0,255,0)">#{{ tag }}</a>
            {% endfor %}
            </small>
          </h4>

          {{ page.content | markdownify }}

          {% include share.html %}

          {% include comments.html %}

        </div>
      </div>
    </section>

    <!-- <section id="{{ page.title }}" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          {% include social-buttons.html %}
        </div>
      </div>
    </section> -->

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Post Layout End -->
