
<!-- Blog Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
{% include navigation.html %}

    <section id="{{ page.title }}" class="container content-section text-center" style="margin-right:30px;margin-left:30px">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

        {{ page.content | markdownify }}

        <h3 align="left"><strong>10 Jan 2016</strong> <small>.  .</small> <a href="http://belhalk.github.io/2016/01/10/Probabilistic-Computing-Project.html" style="color: rgb(0,255,0);text-decoration: none"> Probabilistic Computing Project</a> <!-- <small><a href="/2016/01/10/Probabilistic-Computing-Project.html#disqus_thread">Comments</a></small> --></h3>
        
          <h3 align="left"><strong>30 Mar 2015</strong> <small>.  .</small> <a href="http://belhalk.github.io/2015/03/30/Facebook-Private-Data-Disclosure-Behaviors-On-The-Internet.html" style="color: rgb(0,255,0);text-decoration: none"> Facebook - Private Data Disclosure Behaviors On The Internet</a> <!-- <small><a href="/2015/03/30/Facebook-Private-Data-Disclosure-Behaviors-On-The-Internet.html#disqus_thread">Comments</a></small> --></h3>

        {% include pagination.html %}

        </div>
      </div>
    </section>
    

    {% include js.html %}

  </body>
</html>

<!-- Blog Layout End -->
